@model FoodsStore.Domain.Entities.Product

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Food Details Page</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/images/logo/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="~/Content/style/style-food-details.css" />
    <link rel="stylesheet" href="~/Content/style/pop-up-message-out-of-stock.css" />
    <link rel="stylesheet" href="~/Content/style/pop-up-confirm.css" />
    <link rel="stylesheet" href="~/Content/css/nice-select.css" type="text/css">
    <!--<link rel="stylesheet" href="~/Content/style/templatemo-style.css">-->
    <link rel="stylesheet" href="~/Content/style/upload-pic-food.css" type="text/css">
</head>

<!-- Food Details Admin Starts -->

@Html.Partial("~/Views/Admin/_NavbarPartialView.cshtml")

<div class="container tm-mt-big tm-mb-big">
    <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
            <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                <div class="row">
                    <div class="col-12">
                        <h2 class="tm-block-title d-inline-block">Food Details</h2>
                    </div>
                </div>
                @*<form action="EditProduct" enctype="multipart/form-data" method="POST">
                    <input type="hidden" name="ProductID" value="@Model.ProductID">
                    <div class="row tm-edit-product-row">
                        <div class="col-xl-6 col-lg-6 col-md-12">
                            <div class="tm-edit-product-form">
                                <div class="form-group mb-3">
                                    <label for="name">Food Name</label>
                                    <input id="name" name="ProductName" type="text" class="form-control validate" required
                                           value="@Model.ProductName" />
                                </div>
                                <div class="form-group mb-3" style="margin-top: 10px;">
                                    <label for="description">Description</label>
                                    <textarea name="Description" class="form-control validate" rows="3" required>
                                        @Model.Description
                                                </textarea>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="category">Category</label>
                                    <select class="custom-select tm-select-accounts" id="category" name="CategoryID" required>
                                        @foreach (var item in (IEnumerable<FoodsStore.Domain.Entities.Category>)ViewData["CATEGORIES"]) {
                                            string active = "";
                                            if (Model.CategoryID == item.CategoryID) {
                                                active = "selected";
                                            }
                                            <option @active value="@item.CategoryID">
                                                @item.CategoryName
                                            </option>
                                        }



                                    </select>
                                </div>
                                <div class="form-group mb-3" style="margin-top: 10px;">
                                    <label for="Status" style="margin-top: 30px;">Status</label>
                                    <select class="custom-select tm-select-accounts" id="category" name="StatusCode" required>
                                        @foreach (var item in (IEnumerable<FoodsStore.Domain.Entities.ProductStatus>)ViewData["PRODUCTSTATUSES"]) {
                                            string active = "";
                                            if (Model.StatusCode == item.StatusCode) {
                                                active = "selected";
                                            }
                                            <option @active value="@item.StatusCode">
                                                @item.Status
                                            </option>
                                        }

                                    </select>
                                </div>
                                <div class="row">
                                    <div class="form-group mb-3 col-xs-12 col-sm-6" style="margin-top: 30px;">
                                        <label for="Price Unit ($)">Price Unit ($)</label>
                                        <input id="stock" name="Price" type="number" min="1" step="0.1" class="form-control validate"
                                               required value="@Model.Price" />
                                    </div>
                                    <div class="form-group mb-3 col-xs-12 col-sm-6" style="margin-top: 30px;">
                                        <label for="Quantity">Quantity In Stock </label>
                                        <input id="stock" name="Quantity" type="number" min="0" step="1" class="form-control validate" required
                                               value="@Model.Quantity" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
                            <div class="uploadWrapper">
                                <div id="imageUploadForm" class="imageUploadForm">
                                    <span class="helpText" id="helpText">Upload an image</span>
                                    <img style="height: 350px; width: 320px;" src="~/Content/images/Food/Drinks/Drinks-2/101.jpg">
                                    <input type="hidden" name="oldImage" value="~/Content/images/Food/Drinks/Drinks-2/101.jpg">
                                    <input type="file" id="fileUpdate"
                                           class="uploadButton" name="imageProduct"
                                           accept="image/*">
                                    <div id="uploadedImg" class="uploadedImg">
                                        <span class="unveil"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <div class="form-group mb-3 col-xs-12 col-sm-6">
                                    <label for="Create Date">Create Date</label>
                                    <input id="stock" name="DateCreated" type="text" class="form-control validate" disabled
                                           required value="@Model.DateCreated" />
                                </div>
                                <div class="form-group mb-3 col-xs-12 col-sm-6">
                                    <label for="Update Date">Last Modified</label>
                                    <input id="stock" name="DateModified" type="text" class="form-control validate" disabled
                                           required value="@Model.DateModified" />
                                </div>
                                <div class="form-group mb-3 col-xs-12 col-sm-6">
                                    <label for="Update User">User Modified</label>
                                    <input id="stock" type="text" class="form-control validate" disabled
                                           value="@Model.UserModified" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            @*<div class="cd-popup" role="alert">
                        <div class="cd-popup-container">
                            <p>Are you sure you want to update this food ?</p>
                            <ul class="cd-buttons">
                                <li><a href="#0" onclick="$(this).closest('form').submit();">Yes</a></li>
                                <li><a href="#0" class="cd-no">No</a></li>
                            </ul>
                            <a href="#0" class="cd-popup-close img-replace">Close</a>
                        </div> <!-- cd-popup-container -->
                    </div> <!-- cd-popup -->

                           <input type="submit" style="font-size: 20px;" id="update-food" class="genric-btn success-border btn btn-block text-uppercase" value="Update" />
                            <input type="submit" value="Update" />
                        </div>
                    </div>
                </form>*@

                @using (Html.BeginForm("EditProduct", "Manager", FormMethod.Post, new { enctype = "multipart/form-data" })) {
                    @Html.Hidden("returnUrl", new { Request.Url.PathAndQuery})
                    <input type="hidden" name="ProductID" value="@Model.ProductID">
                    <div class="row tm-edit-product-row">
                        <div class="col-xl-6 col-lg-6 col-md-12">
                            <div class="tm-edit-product-form">
                                <div class="form-group mb-3">
                                    <label for="name">Food Name</label>
                                    <input id="name" name="ProductName" type="text" class="form-control validate" required
                                           value="@Model.ProductName" />
                                </div>
                                <div class="form-group mb-3" style="margin-top: 10px;">
                                    <label for="description">Description</label>
                                    <textarea name="Description" class="form-control validate" rows="3" required>@Model.Description</textarea>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="category">Category</label>
                                    <select class="custom-select tm-select-accounts" id="category" name="CategoryID" required>
                                        @foreach (var item in (IEnumerable<FoodsStore.Domain.Entities.Category>)ViewData["CATEGORIES"]) {
                                            string active = "";
                                            if (Model.CategoryID == item.CategoryID) {
                                                active = "selected";
                                            }
                                            <option @active value="@item.CategoryID">
                                                @item.CategoryName
                                            </option>
                                        }



                                    </select>
                                </div>
                                <div class="form-group mb-3" style="margin-top: 10px;">
                                    <label for="Status" style="margin-top: 30px;">Status</label>
                                    <select class="custom-select tm-select-accounts" id="category" name="StatusCode" required>
                                        @foreach (var item in (IEnumerable<FoodsStore.Domain.Entities.ProductStatus>)ViewData["PRODUCTSTATUSES"]) {
                                            string active = "";
                                            if (Model.StatusCode == item.StatusCode) {
                                                active = "selected";
                                            }
                                            <option @active value="@item.StatusCode">
                                                @item.Status
                                            </option>
                                        }

                                    </select>
                                </div>
                                <div class="row">
                                    <div class="form-group mb-3 col-xs-12 col-sm-6" style="margin-top: 30px;">
                                        <label for="Price Unit ($)">Price Unit ($)</label>
                                        <input id="stock" name="Price" type="number" min="1" step="0.1" class="form-control validate"
                                               required value="@Model.Price" />
                                    </div>
                                    <div class="form-group mb-3 col-xs-12 col-sm-6" style="margin-top: 30px;">
                                        <label for="Quantity">Quantity In Stock </label>
                                        <input id="stock" name="Quantity" type="number" min="0" step="1" class="form-control validate" required
                                               value="@Model.Quantity" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
                            <div class="uploadWrapper">
                                <div id="imageUploadForm" class="imageUploadForm">
                                    <span class="helpText" id="helpText">Upload an image</span>
                                    <img style="height: 350px; width: 320px;" src="@Url.Action("GetImageProduct", "Product", new { Model.ProductID })">
                                    <input type="file" id="fileUpdate"
                                           class="uploadButton" name="imageProduct"
                                           accept="image/*">
                                    <div id="uploadedImg" class="uploadedImg">
                                        <span class="unveil"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <div class="form-group mb-3 col-xs-12 col-sm-6">
                                    <label for="Create Date">Create Date</label>
                                    <input id="stock" name="DateCreated" type="text" class="form-control validate" disabled
                                           required value="@Model.DateCreated.ToShortDateString()" />
                                </div>
                                <div class="form-group mb-3 col-xs-12 col-sm-6">
                                    <label for="Update Date">Last Modified</label>
                                    <input id="stock" name="DateModified" type="text" class="form-control validate" disabled
                                           required value="@Model.DateModified" />
                                </div>
                                <div class="form-group mb-3 col-xs-12 col-sm-6">
                                    <label for="Update User">User Modified</label>
                                    <input id="stock" type="text" class="form-control validate" disabled
                                           value="@Model.UserModified" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            @*<div class="cd-popup" role="alert">
                        <div class="cd-popup-container">
                            <p>Are you sure you want to update this food ?</p>
                            <ul class="cd-buttons">
                                <li><a href="#0" onclick="$(this).closest('form').submit();">Yes</a></li>
                                <li><a href="#0" class="cd-no">No</a></li>
                            </ul>
                            <a href="#0" class="cd-popup-close img-replace">Close</a>
                        </div> <!-- cd-popup-container -->
                    </div> <!-- cd-popup -->*@

                            <input type="submit" style="font-size: 20px;" id="update-food" class="genric-btn success-border btn btn-block text-uppercase" value="Update" />
                            <input type="submit" value="Update" style="font-size: 20px;"/>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


<!-- Food Details Admin End -->

<div class="message-popup" role="alert">
    <div class="message-popup-container">


        <a href="#0" class="message-buttons" style="color: #000; font-size: 25px;">OK</a>
        <a href="#0" class="message-popup-close img-replace">Close</a>
    </div> <!-- message-popup-container -->
</div> <!-- message-popup -->



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="~/Content/js/update-food.js"></script>
<script src="~/Content/js/food-details.js"></script>
<script src="~/Content/js/pop-up-confirm.js"></script>
<script src="~/Content/js/pop-up-message-out-of-stock.js"></script>


<script>


    function checkLoginYet() {

    }

</script>



<script>
    jQuery(document).ready(function ($) {
        $('#update-food*').click(function () {
            event.preventDefault();
            $(this).parent().children(".cd-popup").addClass("is-visible");
        });
    });
</script>
